# /Activities
# /Activities/01-Ins_Flags
# /Activities/02-Stu_Flags
# /Activities/02-Stu_Flags/Solved
# /Activities/02-Stu_Flags/Unsolved
# /Activities/03-Ins_Advanced_Git
# /Activities/03-Ins_Advanced_Git/Solved
# /Activities/03-Ins_Advanced_Git/Unsolved
# /Activities/04-Stu_Git_Workflow
# /Activities/04-Stu_Git_Workflow/Solved
# /Activities/04-Stu_Git_Workflow/Unsolved
# /Activities/05-Ins_Bash_Scripting
# /Activities/05-Ins_Bash_Scripting/Solved
# /Activities/05-Ins_Bash_Scripting/Unsolved
# /Activities/06-Ins_Regex
# /Activities/06-Ins_Regex/Solved
# /Activities/06-Ins_Regex/Unsolved
# /Activities/07-Evr_Bash_Automation
# /Activities/07-Evr_Bash_Automation/Solved
# /Activities/07-Evr_Bash_Automation/Unsolved
# /Images
